# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\23-project-nlp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
